/* Constants */
:root {
	--menuwidth: 160px;
	--projectselectorheight: 75px;
}


/* Sidebar menu */
.side-main-menu {
	height: 100%; 
	width: var(--menuwidth); 
	position: fixed; 
	z-index: 1; 
	top: 0; 
	left: 0;
	background-color: #111; 
	overflow-x: hidden;
	padding-top: var(--projectselectorheight);
}

/* The navigation menu links */
.side-main-menu a {
	font-family: monospace;
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
}


/* When mouse hovering over link */
.side-main-menu a:hover {
	background-color: #666666;
	color: white;
}

/* Main content */
.main-content {
	margin-left: var(--menuwidth); 
	margin-top: var(--projectselectorheight);
	padding: 10px 10px;
}

.project-selector {
	display: inline-block;
	
	width: 100%;
	
	top: 0;
	left: var(--menuwidth);
	position: fixed;
	
	font-family: monospace;
	font-size: calc(var(--projectselectorheight) / 2);
	font-family: monospace;
}



.project-selector select {
	float: left;
	
	min-width: 400px;
	font-size: 2.00rem;
	
	border: none;
}

.project-selector button {
	background-color: #777777;
	color: #BBBBBB;
	

	border: none;
	text-decoration: none;
	
	font-size: 2.00rem;
	
	float: left;
	
}


.content-head {
	border: solid;
}

.task-class {
	border-top: dashed;
	display:flex;
}


.content-head h2 {
	position: relative;
	
}

.task-delete-btn {
	float: right;
	
	width: 50px;
	height: 100%;
	
}

.task-selector {
	float: right;
	
}

.task-header {
	display: inline-block;
	background-color: #777777;
	height: 100%;
	
	width: 20%
}

.task-body {
	display: inline-block;
	background-color: #999999;
	height: 100%;
	
	width: 80%;
	
}

.task-header h2 {
	padding-left: 10px;
}